{% if sitepackage.typo3Version > 13 %}
    <p>Include the Set "{{ sitepackage.title }}" in your site configuration.
        See also <a href="https://docs.typo3.org/permalink/t3sitepackage:minimal-extension-siteset@{{ sitepackage.typo3Version }}">Create a basic site set</a>.</p>
{% else %}
    <p>Include the TypoScript Set "{{ sitepackage.title }}" in the TypoScript record of your root page:
        <a href="https://docs.typo3.org/permalink/t3sitepackage:typo3-backend-typoscript-template@{{ sitepackage.typo3Version }}">TypoScript template</a></p>
{% endif %}
