{% extends '@Template/layout.html.twig' %}
{% block title %}Kickstart your TYPO3 template development{% endblock %}
{% block body %}

    {% frame with { color: 'dark', height: 'small', center: true, indent: true, backgroundImage: asset("assets/Images/keyvisual.png") } %}
        <h1>Site Package Builder</h1>
        <p class="lead">
            Site Package Builder is your kickstarter for modern TYPO3 Theme development. Learn more about TYPO3 templating
            or start your own template right now.
        </p>
        <p>
            <a href="{{ path('sitepackage_new') }}" class="btn btn-lg btn-primary">Create Site Package</a>
        </p>
    {% endframe %}

    {% frame with { center: true, indent: true } %}
        <h2>What is a Site Package?</h2>
        <p>
            A Site Package is a <strong>TYPO3 Extension</strong> that containers all relevant configuration for a Website.
            Having all configuration stored in a package keeps it protected from unauthorized access.
            As Extension your Site Package will manage your dependencies to other Extensions and/or the TYPO3 Version.
            This will ease your deployment and enables you to put the configuration of your Webiste under Version Control.
        </p>
        <p>
            Learn more about the <strong>best practices</strong> recommended from the TYPO3 Core Team.
        </p>
        <p>
            <a href="https://docs.typo3.org/permalink/t3sitepackage:start" class="btn btn-primary" target="_blank">
                Learn about Site Packages
            </a>
        </p>
    {% endframe %}

    {% frame with { color: 'dark', layout: 'embedded', center: true, indent: true } %}
        <h2>Start your own Site Package</h2>
        <p>
            <a href="{{ path('sitepackage_new') }}" class="btn btn-primary">
                Create Site Package
            </a>
        </p>
    {% endframe %}

{% endblock %}
