{% extends '@Template/layout.html.twig' %}
{% block title %}Create your very own TYPO3 Site Package{% endblock %}
{% block body %}

    {% frame with { color: 'dark', height: 'small', center: true, indent: true, backgroundImage: asset("assets/Images/keyvisual.png") } %}
        <h1>Create your very own Site Package</h1>
        <p class="lead">
            Awesome you made it here! Just a few more Information about your Project and your very own Site Package is ready to download.
        </p>
    {% endframe %}

    {% frame with { indent: true } %}
        <h2>Configuration</h2>
        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {% endframe %}

{% endblock %}
